<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is home page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="font-weight-bold">Smart Contact Manager</h1>
        <p>Start Collecting your contacts in very smarter way. We provide very efficient and smarter way of handling contacts.</p>
        <button class="btn bg-primary btn-lg text-white">Get Start</button>
    </div>
</section>
</body>
</html>