<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is about page</title>
</head>
<body>
<section>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="container text-center">
                    <img src="" style="height: 200px; width: 200px;" class="my_profile_picture" th:src="@{'/img/contact_logo.png'}" alt="profile photo">
                </div>

                <h1 class="text-center mt-2">
                    Start Adding Your Contact
                </h1>

                <div class="container text-center mt-3">
                    <a th:href="@{/user/add-contact}" class="btn btn-primary btn-sm">Add Contact</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(()=> {
            $('.item').removeClass('active');
            $('#home-link').addClass("active");
        });
    </script>
</section>
</body>
</html>